/* Dark theme overrides for XL Blog */

body {
  background-color: #0d1117;
  color: #e6edf3;
}

/* Global text & links */
a {
  color: #e6edf3;
}

a:hover,
a:focus {
  color: #58a6ff;
}

.post-container a {
  color: #58a6ff;
}

.post-container a:hover,
.post-container a:focus {
  color: #79c0ff;
}

/* Navigation bar */
.navbar-custom {
  font-family: inherit;
}

.navbar-custom .navbar-brand {
  color: #f0f6fc;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #c9d1d9;
}

.navbar-custom .nav li a {
  color: #f0f6fc;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #c9d1d9;
}

@media only screen and (min-width: 1170px) {
  .navbar-custom.is-fixed {
    background-color: rgba(13, 17, 23, 0.95);
    border-bottom: 1px solid #30363d;
  }

  .navbar-custom.is-fixed .navbar-brand {
    color: #f0f6fc;
  }

  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #58a6ff;
  }

  .navbar-custom.is-fixed .nav li a {
    color: #f0f6fc;
  }

  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #58a6ff;
  }
}

/* Main layout blocks */
.post-container,
.sidebar-container {
  background-color: #0d1117;
}

.sidebar-container {
  color: #8b949e;
}

.sidebar-container h5,
.sidebar-container h5 a {
  color: #c9d1d9 !important;
}

.sidebar-container a {
  color: #8b949e !important;
}

.sidebar-container a:hover,
.sidebar-container a:active {
  color: #58a6ff !important;
}

/* Headings & paragraphs */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e6edf3;
}

.post-preview > a > .post-title,
.post-preview > a > .post-subtitle {
  color: #e6edf3;
}

.post-preview > .post-meta {
  color: #8b949e;
}

.post-content-preview {
  color: #8b949e;
}

blockquote {
  color: #8b949e;
  background-color: #161b22;
  border-left: 4px solid #30363d;
}

/* Footer */
footer {
  color: #8b949e;
}

footer .copyright {
  color: #8b949e;
}

footer .copyright a {
  color: #58a6ff;
}

footer .copyright a:hover,
footer .copyright a:focus {
  color: #79c0ff;
}

/* Buttons & pager */
.btn-default {
  background-color: #21262d;
  border-color: #30363d;
  color: #e6edf3;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #238636;
  border-color: #2ea043;
  color: #ffffff;
}

.pager li > a,
.pager li > span {
  background-color: #161b22;
  border-color: #30363d;
  color: #e6edf3;
}

.pager li > a:hover,
.pager li > a:focus {
  background-color: #238636;
  border-color: #2ea043;
  color: #ffffff;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  background-color: #0d1117;
  color: #6e7681;
}

/* Code blocks & syntax highlighting (dark) */
.highlight pre,
pre,
.highlight .hll {
  background-color: #161b22;
  border: 1px solid #30363d;
  color: #e6edf3;
}

.highlight .c,
.highlight .cm,
.highlight .cp,
.highlight .c1,
.highlight .cs {
  color: #8b949e;
}

.highlight .k,
.highlight .o,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr {
  color: #ff7b72;
}

.highlight .kt {
  color: #79c0ff;
}

.highlight .n,
.highlight .na,
.highlight .nb,
.highlight .nc,
.highlight .no,
.highlight .ni,
.highlight .nn,
.highlight .nt,
.highlight .nv,
.highlight .w {
  color: #e6edf3;
}

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss {
  color: #a5d6ff;
}

.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
  color: #79c0ff;
}

.highlight .err {
  color: #f85149;
  background-color: transparent;
}

/* Selection color */
::selection {
  color: #ffffff;
  background: #1f6feb;
}

::-moz-selection {
  color: #ffffff;
  background: #1f6feb;
}


