---
title: Categories
layout: default
description: "文章分类"
header-img: "img/post-bg-universe.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 分类列表 -->
            <div class="categories-grid">
                {% for category in site.categories %}
                <div class="category-card">
                    <a href="{{ site.baseurl }}/categories/{{ category.slug }}">
                        <h3 class="category-name">{{ category.name }}</h3>
                        <p class="category-description">{{ category.description }}</p>
                        {% assign category_posts = site.posts | where: "category", category.slug %}
                        <span class="category-count">{{ category_posts.size }} 篇文章</span>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

